@model TrainCore.Module.ViewModels.CoachPartViewModel

<div class="coach-part">
    <div class="coach-scale">Scale: @Model.ModelScale</div>
    <div class="coach-company">Manufacturer: @Model.CompanyName</div>
    <div class="coach-era">Era: @Model.ModelEra</div>
    <div class="coach-desc">Description: @Model.Description.Text</div>
    <div class="coach-light">Light Details: @Model.LightDetails</div>
    <div class="coach-interior">Interior Info: @Model.HasInteriorBuiltIn</div>
</div>