@model TrainCore.Module.ViewModels.CoachPartViewModel

<div class="coach-part">
    <div class="coach-name">@Model.VehicleName</div>
    <div class="coach-scale">@Model.ModelScale</div>
    <div class="coach-company">@Model.CompanyName</div>
    <div class="coach-era">@Model.ModelEra</div>
    <div class="coach-desc">@Model.Description</div>
    <div class="coach-light">@Model.LightDetails</div>
    <div class="coach-interior">@Model.HasInteriorBuiltIn</div>
</div>