@model TrainCore.Module.ViewModels.LayoutPartViewModel

<div class="layout-part">
    <div class="layout-theme">@Model.LayoutTheme</div>
    <div class="layout-desc">@Model.Description</div>
    <div class="layout-width">@Model.Width</div>
    <div class="layout-length">@Model.Length</div>
    <div class="layout-height">@Model.Height</div>
</div>